<div class="mx-auto mt-4">
  <div class="flex justify-between items-center mb-4">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
            (click)="addParentCategory()">Add Parent Category</button>
    <select multiple class="form-multiselect block w-1/3" [(ngModel)]="selectedMonths" (change)="updateDisplayedMonths()">
      <option *ngFor="let month of allMonths" [value]="month">{{ month }}</option>
    </select>
  </div>

  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="border px-4 py-2">Start Period V End Period V</th>
        <th class="border px-4 py-2" *ngFor="let month of displayedMonths">{{ month }}</th>
        <th class="border px-4 py-2">Actions</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr>
        <td class="border font-bold">Income</td>
      </tr>
      <ng-container *ngFor="let category of categoriesIncome">
        <tr>
          <td class="border px-4 py-2">{{ category.name }}</td>
          <td class="border px-4 py-2" *ngFor="let month of displayedMonths; let i = index">
            <input type="text" numbersOnly id="input-{{ category.name }}-{{ i }}" class="w-full border-none text-center focus:outline-none"
                   [(ngModel)]="category.monthlyTotals[month]" (keyup.enter)="onEnterKey(category, i)" (keydown)="onKeyDown($event, category, i)" (contextmenu)="onRightClick($event, category, i)">
          </td>
          <td class="border px-4 py-2">{{ category.total }}</td>
          <td class="border px-4 py-2">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2"
                    (click)="deleteCategory(category)">X</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2"
                    (click)="addSubcategory(category)">Add sub</button>
          </td>
        </tr>
        <!-- Subcategories -->
        <ng-container *ngIf="category.subcategories">
          <tr *ngFor="let subcategory of category.subcategories">
            <td class="border px-4 py-2 pl-8">{{ subcategory.name }}</td>
            <td class="border px-4 py-2" *ngFor="let month of displayedMonths; let i = index">
              <input type="text" numbersOnly id="input-{{ subcategory.name }}-{{ i }}" class="w-full border-none text-center focus:outline-none"
                     [(ngModel)]="subcategory.monthlyTotals[month]" (keyup.enter)="onEnterKey(subcategory, i)" (keydown)="onKeyDown($event, subcategory, i)" (contextmenu)="onRightClick($event, subcategory, i)">
            </td>
            <td class="border px-4 py-2">{{ subcategory.total }}</td>
            <td class="border px-4 py-2">
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2"
                      (click)="deleteCategory(subcategory, category)">X</button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <tr>
        <td class="border font-bold">Expenses</td>
      </tr>
      <ng-container *ngFor="let category of categoriesExpenses">
        <tr>
          <td class="border px-4 py-2">{{ category.name }}</td>
          <td class="border px-4 py-2" *ngFor="let month of displayedMonths; let i = index">
            <input type="text" numbersOnly id="input-{{ category.name }}-{{ i }}" class="w-full border-none text-center focus:outline-none"
                   [(ngModel)]="category.monthlyTotals[month]" (keyup.enter)="onEnterKey(category, i)" (keydown)="onKeyDown($event, category, i)" (contextmenu)="onRightClick($event, category, i)">
          </td>
          <td class="border px-4 py-2">{{ category.total }}</td>
          <td class="border px-4 py-2">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2"
                    (click)="deleteCategory(category)">X</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2"
                    (click)="addSubcategory(category)">Add sub</button>
          </td>
        </tr>
        <!-- Subcategories -->
        <ng-container *ngIf="category.subcategories">
          <tr *ngFor="let subcategory of category.subcategories">
            <td class="border px-4 py-2 pl-8">{{ subcategory.name }}</td>
            <td class="border px-4 py-2" *ngFor="let month of displayedMonths; let i = index">
              <input type="text" numbersOnly id="input-{{ subcategory.name }}-{{ i }}" class="w-full border-none text-center focus:outline-none"
                     [(ngModel)]="subcategory.monthlyTotals[month]" (keyup.enter)="onEnterKey(subcategory, i)" (keydown)="onKeyDown($event, subcategory, i)" (contextmenu)="onRightClick($event, subcategory, i)">
            </td>
            <td class="border px-4 py-2">{{ subcategory.total }}</td>
            <td class="border px-4 py-2">
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2"
                      (click)="deleteCategory(subcategory, category)">X</button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <tr>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="border px-4 py-2 font-semibold">Income Total</td>
        <td class="border px-4 py-2 font-semibold" *ngFor="let month of displayedMonths">{{ incomeTotal[month] }}</td>
        <td class="border px-4 py-2 font-semibold">{{ totalIncome }}</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-semibold">Expense Total</td>
        <td class="border px-4 py-2 font-semibold" *ngFor="let month of displayedMonths">{{ expenseTotal[month] }}</td>
        <td class="border px-4 py-2 font-semibold">{{ totalExpenses }}</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-bold">Profit / Loss</td>
        <td class="border px-4 py-2 font-bold" *ngFor="let month of displayedMonths">{{ profitLoss[month] }}</td>
        <td class="border px-4 py-2 font-bold">{{ totalProfitLoss }}</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-bold">Opening Balance</td>
        <td class="border px-4 py-2 font-bold" attr.colspan="{{ displayedMonths.length }}">{{ openingBalance }}</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2 font-bold">Closing Balance</td>
        <td class="border px-4 py-2 font-bold"  attr.colspan="{{ displayedMonths.length }}">{{ closingBalance }}</td>
        <td class="border px-4 py-2"></td>
      </tr>
    </tfoot>
  </table>
</div>
